<!DOCTYPE html>
<html>
  <head>
    <% include headerStuff %>
  </head>
  <body>
    <% include pageHeader %>
    <form action="/notes/destroy/confirm" method="post">
      <input type="hidden" name="notekey" value="<%=
                    note ? notekey : ""  %>">
      <p>Delete <%= note.title %></p>
      <br/>
      <input type="submit" value="Delete"> <a href="/notes/view?key=<%= notekey %>">Cancel</a>
    </form>
    <% include footer %>
  </body>
</html>
